
/*ESTO SERÍA EL VERDADERO STYLESHEET:*/

#btns_creacion input{
    margin-left:10vw;
    margin-right:10vw;
    width: 10vw;
    font-size: 1.1vw;
}

#btns_creacion{
    text-align: center;
}

#th_imagenProd{
    text-align: center;
}

#busquedaProdPV{
    margin-left: 10vw;
}